---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Trust from '../components/Trust.astro';
import Products from '../components/Products.astro';
import WhyUs from '../components/WhyUs.astro';
import Testimonials from '../components/Testimonials.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="翡翠原石代購｜曼德勒專業買手｜10年經驗">
  <Navbar />
  
  <main>
    <Hero />
    <About />
    <Trust />
    <Products />
    <WhyUs />
    <Testimonials />
    <Contact />
  </main>
  
  <Footer />
</Layout>

<style is:global>
  section[id] {
    scroll-margin-top: 4rem;
  }
</style>
